# SPDX-License-Identifier: Apache-2.0

# Cortex-M4 有 MPU: 启用硬件栈溢出保护
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

# UART + 控制台
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# GPIO
CONFIG_GPIO=y

# Flash + Flash Map (MCUboot)
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_SPI_NOR_SFDP_MINIMAL=n
CONFIG_SPI_NOR_FLASH_LAYOUT_PAGE_SIZE=4096
